body{
  font-family: Comic;
}

h1{
  font-size: 60px;
  text-align: center;
}
body{
  background-color: #E6F4FA;
}
h2{
  text-align: center;
  font-size:40px;
  margin-top:30px;
  margin-bottom: 30px;
}
table {
  border-collapse:collapse;
  margin-top: 15px;
}
td,th {
  border:1px solid black;
}
header{
  background:#426697;
  min-height: 250px;
  width: 100%;
}
#Titrepage{
  min-width:50%;
  float: left;
}
#E2N{
  min-width: 25%;
  float: left;
}
#github{
  min-width: 25%;
  text-align: right;
  float: left;
}
#ubuntu{
  min-width: 25%;
  text-align: right;
  float: left;
}

table{
	border-collapse: collapse;
}

td, th
{

   border: 1px solid black;
 }

.E2N{
	float: left;
	margin-left: 0;
}
.titreprincipal{
	text-align: center;
}
.ubuntu{	
	float: right;
	margin-right: 0;
}
.github{	
	float: right;
	margin-right: 0;
}